In [1]:
import pandas as pd

In [2]:

df=pd.read_csv('https://raw.githubusercontent.com/sagarvadher/HireArtAnalysis/master/HireArt%20-%20Data%20Analyst%20Exercise%2010.12.17%20-%20Sheet1.csv')

In [3]:
df.head()

  Account manager                 Client Name Date of Contact
0     Milan Crona     Wyman, Farrell and Haag      2015-10-31
1    Aidan Pouros  Veum, McClure and Schuster      2013-12-15
2    Aidan Pouros  Veum, McClure and Schuster      2013-12-07
3     Milan Crona             Armstrong Group      2013-11-02
4    Aidan Pouros   Lueilwitz, Moore and Hahn      2013-12-25

In [4]:
df['Date of Contact'].value_counts()

2013-10-11    7
2016-12-13    5
2015-10-12    5
2014-10-18    5
2015-10-17    4
2015-08-18    4
2013-10-25    4
2015-02-04    4
2014-10-19    4
2014-10-23    4
2015-10-30    4
2013-10-22    4
2014-05-24    4
2013-10-18    4
2014-09-27    4
2015-10-22    4
2016-12-21    3
2014-09-09    3
2013-11-06    3
2016-02-23    3
2013-10-04    3
2014-06-19    3
2016-10-28    3
2016-05-25    3
2015-07-19    3
2013-10-05    3
2014-10-24    3
2016-10-13    3
2015-08-20    3
2014-12-18    3
             ..
2016-04-25    1
2014-12-27    1
2017-04-18    1
2016-05-08    1
2016-05-26    1
2014-02-06    1
2015-03-11    1
2013-11-16    1
2016-03-20    1
2017-08-08    1
2017-06-25    1
2013-10-29    1
2014-01-29    1
2016-01-30    1
2014-11-17    1
2014-12-05    1
2016-06-03    1
2016-04-10    1
2017-07-28    1
2013-12-15    1
2014-11-22    1
2017-01-31    1
2015-07-24    1
2015-09-01    1
2015-07-14    1
2016-08-23    1
2016-06-02    1
2016-11-15    1
2015-03-17    1
2014-02-16    1
Name: Date of Contact, dtype: int64

In [5]:
import datetime
df['month'] = pd.DatetimeIndex(df['Date of Contact']).month

In [6]:
df['month']

0       10
1       12
2       12
3       11
4       12
5        3
6       10
7        5
8        7
9       10
10       1
11      11
12      10
13      10
14       9
15      10
16      10
17      11
18       2
19      12
20      10
21       9
22      10
23       5
24      10
25       9
26       7
27       4
28      10
29      12
        ..
971     11
972     10
973      5
974      8
975      8
976     11
977     10
978     11
979      3
980      4
981      6
982      7
983     11
984      4
985      6
986      9
987      9
988      5
989     11
990      4
991      6
992      4
993      2
994      8
995     12
996      4
997      9
998      3
999      9
1000     6
Name: month, dtype: int32

In [7]:
df['month'].value_counts()

10    213
9     121
8      79
12     77
6      77
5      69
7      66
11     65
2      64
1      60
3      58
4      52
Name: month, dtype: int64

In [8]:
### October will be the month when the team will be more likely to contact the most clients.